* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 100%;
    /* 16px */
    scroll-behavior: smooth;
    padding-left: 10px;
    padding-right: 10px;
}

.page-title {
    text-transform: capitalize;
}

ul {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* ========== ヘッダー ========== */
#heder {
    padding: 10px;
    font-size: 1.3rem;
}

#heder a {
    text-decoration: none;
    color: black;
}


/* ========== 記事 ==========  */
.article {
    text-align: center;
}

.article h1 {
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 2.5rem;
}

.article-text {
    display: inline-block;
    text-align: left;
}

.gallery {
    padding: 30px 0 30px;
    text-align: center;
}

.gallery img {
    padding: 10px;
    width: 360px;
    height: 220px;
    object-fit: cover;
    transition: .6s;
    filter: grayscale(80%);
}

.gallery img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}

/* ========== フッター ========== */
.copyright {
    text-align: center;
    padding-top: 50px;
    font-size: 0.8rem;
    opacity: 0.6;
    padding-bottom: 20px;
}


/* ========== レスポンシブ ========== */
@media screen and (max-width: 959px) {}

/* ========== ダークモード ========== */
@media (prefers-color-scheme: dark) {
    a {
        color: lightblue;
    }

    .page-title {
        color: #f5f5f5;
    }

    body {
        background-color: #313339;
        color: #f5f5f5;
    }

    #footer a {
        color: #f5f5f5;
    }

    .openbtn1 span {
        background-color: #f5f5f5;
    }
}