* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 100%;
    /* 16px */
    scroll-behavior: smooth;
    padding-left: 10px;
    padding-right: 10px;
}

.page-title {
    text-transform: capitalize;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.article-text ul {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}


/* ========== ヘッダー ========== */
#heder {
    padding: 10px;
    font-size: 1.3rem;
}

#heder a {
    text-decoration: none;
    color: black;
}


/* ========== 記事 ==========  */
.article {
    text-align: center;
}

.article h1 {
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 2.5rem;
}

.article-text {
    display: inline-block;
    text-align: left;
    max-width: 45%;
}


/* ========== フッター ========== */
footer {
    text-align: center;
    padding: 15px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.snss {
    padding-bottom: 100px;
}

.snss li a {
    font-size: 2.0rem;
    transition: all 0.3s;
    color: black;
    padding: 20px;
}

.snss li a i {
    background-color: 0;
    transition: all 0.3s;
}

.snss li a i:hover {
    transform: scale(1.2);
    opacity: 0.6;
}

footer ul a {
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    text-decoration: none;
}

footer ul {
    padding-bottom: 10px;
}

footer ul li {
    display: inline;
    list-style: none;
    flex-wrap: wrap;
}

.copyright {
    padding-top: 50px;
    font-size: 0.8rem;
    opacity: 0.6;
}




/* ========== レスポンシブ ========== */
@media screen and (max-width: 959px) {
    .article-text {
        max-width: 100%;
    }
}

/* ========== ダークモード ========== */
@media (prefers-color-scheme: dark) {
    a {
        color: lightblue;
    }

    .page-title {
        color: #f5f5f5;
    }

    body {
        background-color: #313339;
        color: #f5f5f5;
    }

    #footer a {
        color: #f5f5f5;
    }
}